# ---- Base de données
POSTGRES_USER=gep
POSTGRES_PASSWORD=changez_moi
POSTGRES_DB=gep
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ---- Application
APP_ENV=development
SECRET_KEY=changez_moi_en_production_64_caracteres_aleatoires
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_JOURS=7
FUSEAU_HORAIRE=Africa/Casablanca
DEVISE=MAD

# ---- Fichiers
CHEMIN_JUSTIFICATIFS=/donnees/justificatifs
TAILLE_MAX_FICHIER_MO=5
